Beste $NICKNAME,

Overzicht:
1. Registratie via de site       - [DONE]
2. Emailadres verificatie        - [DONE]
3. Betalingsinformatie ontvangen - [DONE]
4. Geld overmaken                - [DONE]
4. Betaling verwerken            - [DONE]
5. Ticket ontvangen              - [MEENEMEN naar EVENT]


Hier ontvang je je persoonsgebonden[1] ticket in een PDF bijgevoegd als attachment.
Op je ticket staat een QR code[2]. De QR code wordt gebruikt om je te autoriseren bij de voordeur en is gekoppeld aan je account.



met vriendelijke groeten,


    De orga-cyber-bot



[1]: Met persoonsgebonden bedoelen we Nickname gebonden. Het belangrijkste gegeven om op terug te vallen qua herkenning van jouw account is de authkey uit je eeste email en je nickname (nicknames hoeven overigens niet uniek te zijn).
[2]: De QR code zijn, net als de andere codes, voor jou persoonlijk gegenereerd.

