<html>
<body>
    <center><img src="/usr/local/share/opcyberpaint/inschrijving/header.png"></center>

    <br>
    <br>
    <table>
        <tr>
            <td>
                <h1>Perfect Forward Offense</h1>
                We heten je van harte welkom op ons event. Vergeet niet dit
                formulier uitgeprint mee te nemen naar het event. We kunnen niet
                garanderen dat onze scanners het van een smartphone of tablet
                kunnen inscannen.
                <br>
                <br>

                <h2>Deelnemers registratie</h2>
                <ul>
                    <li>Nickname: $NICKNAME</li>
                    <li>Geregistreerd als: $GOTGAME</li>
                    <li>Code: $CODE</li>
                </ul>
            </td>
            <td>
                <img src="$QRCODEFILE">
            </td>
        </tr>
    </table>
    <hr>
    <table>
        <tr>
            <td>
                <h2>Organisatie</h2>
                Dit evenement wordt georganiseerd door
                Stichting Cyberpaint en vrijwilligers.<br>
                Bereikbaar via: deelnemer@opcyberpaint.nl
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <td>
                <h2>Locatie</h2>
                De Avontuurfabriek<br>
                Industrieweg 10<br>
                1231 KH Nieuw Loosdrecht (Gemeente Wijdemeren)<br>
            </td>
            <td>
                <img width="200" src="file:///usr/local/share/opcyberpaint/inschrijving/map.png">
            </td>
        </tr>
    </table>

    <hr>

    <h2>Mede mogelijk gemaakt door</h2>
    <table>
        <tr>
            <td>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            </td>
            <td>
                <center>
                <img width="400" src="https://www.opcyberpaint.nl/wp-content/uploads/2014/06/deloitte.png">
                </center>
            </td>
            <td>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                    <img width="250" src="https://www.opcyberpaint.nl/wp-content/uploads/2014/06/kpn.png">
            </td>
            <td>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
                    <img width="240" src="https://www.opcyberpaint.nl/wp-content/uploads/2014/07/logo-schuberg-philis.png">
            </td>
            <td>
                    <img width="250" src="https://www.opcyberpaint.nl/wp-content/uploads/2014/08/logo-sogeti-nederland.png">
            </td>
        </tr>
        <tr>
            <td>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
                    <img width="160" src="file:///usr/local/share/opcyberpaint/inschrijving/dearbytes.png">
            </td>
            <td>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
                    <img width="250" src="https://www.opcyberpaint.nl/wp-content/uploads/2014/08/logo-foxIT.png">
            </td>
            <td>
                    <img width="220" src="https://www.opcyberpaint.nl/wp-content/uploads/2014/02/logo_Infradata.png">
            </td>
        </tr>
    </table>

</body>
</html>
