Beste $NICKNAME,

Overzicht:
1. Registratie via de site       - [DONE]
2. Emailadres verificatie        - [DONE]
3. Betalingsinformatie ontvangen - [DIT]
4. Geld overmaken                - [NEXT]
4. Betaling verwerken            - [ORGA]
5. Ticket ontvangen              - [MEENEMEN naar EVENT]


Betalingsinformatie:
De volgende stap is het overmaken van je inschrijfgeld. Je staat bij ons geregistreerd als "$GOTGAME"[1].

Het over te maken bedrag is: $PRICE
Onder vermelding van en/of omschrijving van: "$PAYMENTTOKEN voor $NICKNAME"[2].
Over te maken op de rekening van "Stichting Cyberpaint" IBAN: NL70 RABO 0105 9656 69


Verwerking:
De verwerking van de betaling is deels script en deels handwerk. De verwerking is niet instantaan en kan een dag duren. Mocht het te lang duren dan kan je de organisatie een hint geven van je betaling, dan checken we het ad-hoc.


Privacy Hero:
1. We matchen het betalingstoken uit onze bankoverzichten met je account en registreren deze betaling. Je nickname in je overschrijvingstekst vragen we om te kunnen troubleshooten. Het is niet noodzakelijk voor het proces, dus weglaten mag.
2. Wil je full-anon naar het event? Neem jij privacy tot in het extreme? No problem! Zorg er voor dat de betaling wordt gedaan via iemand anders met jou betalingskenmerk. Zo laat je geen enkel spoor achter via onze bank. Voorbeelden: iemand die dit voor zichzelf al overmaakte voor het event en die maakt het los of gebundeld met meerdere betalingstokens in 1 transactie over. Een andere optie is random personen die jou cash-geld overmaken naar deze rekening met jou betalingstoken.


Bitcoins!
Nee, we accepteren geen Bitcoins. Maar, er zijn opties om het juiste bedrag en je betalingskenmerk op de rekening van onze stichting te krijgen. We gaan hier niets voor aanraden, omdat we zelf geen valse verwachtingen willen schetsen bij een disfunctionerende bitcoin-exchange.


met vriendelijke groeten,


    De orga-cyber-bot


[1]: Een "observator" speelt geen paintball, maar doet verder de hele dag (van begin tot einde) mee. Een "speler" speelt paintball en doet verder dus de hele dag mee. De prijzen zijn verschillend tussen deze twee. Op locatie krijg je een ander polsbandje om weer te geven dat je observator of speler bent.
[2]: Het paymenttoken is verplicht om in je overmakingsomschrijving in te vullen. Zonder dit token is het overgemaakte geld (wellicht onbedoeld) een anonieme gift aan de stichting geworden. De nickname vermelding is optioneel. We raden aan om die weer te geven in de overschrijvingsinformatie, omdat we je dan bij eventuele tiepe-vaudten van het token je nog kunnen helpen.
