Beste $NICKNAME,

Overzicht:
1. Registratie via de site       - [DONE]
2. Emailadres verificatie        - [YOU ARE HERE]
3. Betalingsinformatie ontvangen - [NEXT]
4. Geld overmaken                - [YOU]
4. Betaling verwerken            - [ORGA]
5. Ticket ontvangen              - [MEENEMEN naar EVENT]


Klik op deze link om je emailadres te verifieren. Na deze check krijg je meer instructies:

$URL

Let op: gebruik geen weg-werp emailadres dat het niet tot na het event actief zal zijn.
We willen je emailadres gebruiken om o.a. je ticket, event informatie en updates sturen.



met vriendelijke groeten,


    De orga-cyber-bot

